/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
   margin: 0;
   padding: 0;
}

html, body {
   height: 100%;
}

body {
   background-color: #ecedef;
   background-image: url('/images/linen.png');
   font-family: "bryant-web", Verdana, sans-serif;;
   -webkit-text-size-adjust: 100%;
   text-align: center;
   color: #444;
}

h1 {
   font-size: 1.2em;
   color: #222;
}

h2, h3, h4, h5, h6 {
   font-size: 100%;
}

h1 {
   margin-bottom: 1em;
}

p {
   margin: 1em 0;
}

a {
   color: #00a;
}

a:hover {
   color: black;
}

a:visited {
   color: #a0a;
}

table {
   font-size: inherit;
   font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
   list-style-type: none;
   margin-bottom: 2em;
   line-height: 1.75em;
}

ul.posts li {
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}

ul.posts .date {
   color: #aaa;
   font-family: Monaco, "Courier New", monospace;
   font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
   font-size: 110%;
   text-align: justify;
   margin: 0px auto 2em auto;
   max-width: 672px;
   padding: 3em 3em 2em 3em;
   line-height: 1.5em;
   background: #fefefe;
}

header {
   color: #a00;
   font-weight: bold;
   margin-bottom: 2em;
}

header .logo {
   display: inline;
}

header .logo a {
   font-size: 2em;
   -moz-text-shadow: 1px 1px 1px #ccc;
   -webkit-text-shadow: 1px 1px 1px #ccc;
   text-shadow: 1px 1px 1px #ccc;
   margin-left: -1px;
}

header .logo a,
header .logo a:visited {
   color: #a00;
   text-decoration: none;
}

header .logo a:hover {
   color: black;
}

nav {
   display: inline;
   float: right;
}

nav a,
nav a:visited {
   color: #888;
   text-decoration: none;
}

nav a:hover {
   color: black;
}

nav a:first-child ~ a {
   margin-left: 1em;
}

.site .meta {
   color: #aaa;
}

footer {
   font-size: 80%;
   color: #666;
   border-top: 4px solid #eee;
   margin-top: 2em;
   overflow: hidden;
}

footer .contact {
   float: left;
   margin-right: 3em;
}

footer .contact a {
   color: #8085C1;
}

footer .contact.links {
   float: right;
   margin-right: 0px;
   text-align: right;
}

footer .headshot {
   margin-top: 0.5em;
   margin-right: 2em;
   float: left;
}

footer .rss {
   margin-top: 1.1em;
   margin-right: -.2em;
   float: right;
}

footer .rss img {
   border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

#post pre {
   border: 1px solid #ddd;
   background-color: #eef;
   padding: 0 .4em;
   overflow-x: scroll;
}

#post code {
   border: 1px solid #ddd;
   background-color: #eef;
   font-size: 95%;
   padding: 0 .2em;
}

#post pre code {
   border: none;
}

  /* terminal */

#post pre.terminal {
   border: 1px solid black;
   background-color: #333;
   color: white;
}

#post pre.terminal code {
   background-color: #333;
}

#related {
   margin-top: 2em;
}

#related h2 {
   margin-bottom: 1em;
}

footer .headshot {
   width: 80px;
   height: 80px;
   background: url('http://www.gravatar.com/avatar/1b5633ca7f3390376c779e5f716a3ed0.png') no-repeat;
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) /* Retina */ {
   h1, h2, h3 { text-rendering: optimizeLegibility; }

   footer .headshot {
      background: url('http://www.gravatar.com/avatar/1b5633ca7f3390376c779e5f716a3ed0.png?s=160') no-repeat;
      background-size: 80px 80px;
      width: 80px;
      height: 80px;
   }
}

@media screen and (max-width: 700px) {
   ul.posts li span.date {
      display: none;
   }
}

@media screen and (max-width: 480px) /*iPhone Landscape */ {
   body {
      font-size: 12px;
      width: auto;
   }
   header {
      width: 100%;
      text-align: center;
   }

   header .logo {
      display: block;
   }

   header nav {
      display: block;
      float: none;
   }

   .site {
      font-size: 100%;
      text-align: justify;
      margin: 0px auto 0.5em auto;
      max-width: 100%;
      padding: 1em 1em 1em 1em;
      line-height: 1.5em;
   }

}
@media screen and (max-width: 320px) /*iPhone Portrait */ {
   footer .headshot {
      display: none;
   }
}