---
layout: default
title: Cosmin Stejerean (offbytwo)
---

<div id="home">
  <!-- <h1>Blog Posts</h1>
    <ul class="posts">
      {% for post in site.categories.blog %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul> -->
  
  <h1>Guides</h1>
  <ul class="posts">
    {% for post in site.categories.guides %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
     {% endfor %}
  </ul>

  <h1>Talks, Presentations, Etc</h1>
  <ul class="posts">
    <li><span>04 Apr 2011</span> &raquo; <a href="/presentations/deploying-autoscalable-infrastructure-workshop.pdf">Deploying AutoScalable Infrastructure Workshop</a></li>
    <li><span>10 Mar 2011</span> &raquo; <a href="/presentations/deploying-web-applications-to-the-cloud.pdf">PyCon 2011 Tutorial: Deploying Web Applications to the Cloud</a></li>
    <li><span>18 Mar 2010</span> &raquo; <a href="http://offbytwo.blip.tv/file/3397934/">Git SVN Basics (video)</a></li>
    <li><span>03 Feb 2010</span> &raquo; <a href="/presentations/using_git_svn.pdf">Getting started with Git SVN (pdf)</a></li>
    <li><span>17 Jun 2009</span> &raquo; <a href="/presentations/using_java_from_clojure.pdf">Chicago Clojure: Using Java from Clojure</a></li>
    <li><span>30 May 2009</span> &raquo; <a href="/presentations/chicago_code_camp_outline.txt">Chicago CodeCamp: Intro to Python (outline)</a></li>
    <li><span>12 Feb 2009</span> &raquo; <a href="/presentations/packaging_python_apps.zip">ChiPy: Packaging Python apps for Windows or OS X (zip)</a></li>
    <li><span>10 Jul 2008</span> &raquo; <a href="/presentations/gpu_programming_cuda.pdf">ChiPy: GPU Programming with CUDA</a></li>
    <li><span>13 Aug 2007</span> &raquo; <a href="/presentations/detecting_rootkits.pdf">Detecting Rootkits</a></li>
    <li><span>13 Aug 2007</span> &raquo; <a href="/presentations/windows_nt_rootkits.pdf">Windows NT Rootkits</a></li>
    <li><span>08 Dec 2006</span> &raquo; <a href="/presentations/honeypots.pdf">Introduction to Honeypots</a></li>
  </ul>

  <h1>Open Source Projects</h1>
  <ul class="posts">
    <li><a href="http://github.com/cosmin/cljenv">cljenv:</a> Everything you need to get started with Clojure, including Emacs support.</li>
    <li><a href="https://github.com/clojure/java.data">java.data:</a> Utilities in Clojure contrib for transforming between Java objects and Clojure data structures.</li>
    <li><a href="http://github.com/offbytwo/git-hg">git-hg:</a> Half-baked wrapper for checking out a Mercurial repo using git. No push support.</li>
    <li><a href="http://github.com/cosmin/hgformlogin">hgformlogin:</a> plugin for Mercurial to work with form-based authentication.</li>
    <li>&nbsp;</li>
    <li>See the full listing on <a href="http://github.com/offbytwo">github.com/offbytwo</a></li>
  </ul>

  <h1>Last Twitter Update</h1>
  <ul id="twitter_update_list" class="posts"></ul>
  <ul class="posts">
    <a href="http://twitter.com/offbytwo" class="twitter-follow-button">Follow @offbytwo</a>
    <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
  </ul>

  <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
  <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/offbytwo.json?callback=twitterCallback2&amp;count=1"></script>
</div>
